<div class="container" id="maincontent">
    <div class="row">
        <div class="col-md-12 col-md-offset-3">
            <div class="title-container">
                <img class="shower-head_img" id="shower_image" src="./images/shower-solid.svg" alt="showerhead"
                    style="height:300px">
                <p id="home_text"> "SHOWER = THE PLACE OF THOUGHTS AND DECISION MAKING"</p>
                <h2 class="login-title" id="title">Shower Thoughts</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col text-center">
                    <button type="button"  class="btn btn-dark homebtn"  onclick="location.href='/create';">Create A
                        Thought</button>
                    <button type="button" class="btn btn-dark homebtn" onclick="location.href='/index';">View All
                        Thoughts</button>
                </div>
            </div>

        </div>
    </div>