#shower_image{
   margin-left: 45%;
}
#home_text{
    text-align: center;
    font-family: 'Mali', cursive;
    color:#f5f6f7;
    font-size: 20px;
    font-weight: 700;
}
#title{
    font-family: 'Mali', cursive;
    font-weight: 700;
    font-style: italic;
    font-size: 55px;
    color: #f5f6f7;
}
.homebtn{
    margin-top: 40px;
    margin-left: 30px;
 
}


