#image{
   margin-left: 500px;
   height: 400px;
}
#home_text{
    text-align: center;
    font-family: 'Mali', cursive;
    color:#f5f6f7;
    font-size: 20px;
    font-weight: 700;
}
#title{
    font-family: 'Mali', cursive;
    font-weight: 700;
    font-style: italic;
    font-size: 55px;
    color: #f5f6f7;
}
.homebtn{
    margin-top: 40px;
    margin-left: 35px;
  
}

footer{
    margin-top: 300px;
    color: #f5f6f7;
    text-align: center;
}

@media (max-width: 1024px){
    #image{
        margin-top: 20px;
        margin-left: 350px;
     }
}

@media (max-width: 768px){
    #image{
        margin-left: 230px;
     }

     #maincontent{
         margin-top: 100px;
     }
     .homebtn{
        margin-top: 40px;
        margin-left: 30px;
     
    }
}

@media (max-width: 540px){
    #image{
        margin-top: 30px;
        margin-left: 190px;
        height: 200px;
        width: 200px;
     }

}


@media (max-width: 480px){
    #image{
        margin-top: 30px;
        margin-left: 180px;
        height: 200px;
        width: 200px;
     }
     #title{
        font-family: 'Mali', cursive;
        font-weight: 700;
        font-style: italic;
        font-size: 45px;
        color: #f5f6f7;
    }
}

@media (max-width: 414px){
    #image{
        margin-top: 30px;
        margin-left: 150px;
        height: 200px;
        width: 200px;
     }
     #title{
        font-family: 'Mali', cursive;
        font-weight: 700;
        font-style: italic;
        font-size: 45px;
        color: #f5f6f7;
    }
}

@media (max-width: 375px){
    #image{
        margin-top: 5px;
        margin-left: 130px;
        height: 200px;
        width: 200px;
     }
     #title{
        font-family: 'Mali', cursive;
        font-weight: 700;
        font-style: italic;
        font-size: 35px;
        color: #f5f6f7;
    }
    #home_text{
        text-align: center;
        font-family: 'Mali', cursive;
        color:#f5f6f7;
        font-size: 15px;
        font-weight: 700;
    }
    .homebtn{
        margin-top: 40px;
        margin-left: 15px;
     
    }
}

@media (max-width: 360px){
    #image{
        margin-left: 30%;
        height: 180px;
        width: 180px;
     }
     #title{
        font-family: 'Mali', cursive;
        font-weight: 700;
        font-style: italic;
        font-size: 30px;
        color: #f5f6f7;
    }

    #home_text{
        text-align: center;
        font-family: 'Mali', cursive;
        color:#f5f6f7;
        font-size: 15px;
        font-weight: 700;
    }

    .homebtn{
        margin-top: 40px;
        margin-left: 10px;
     
    }
}

@media (max-width: 320px){
    #image{
        margin-left: 35%;
        height: 150px;
        width: 150px;
        margin-top: 0px;
     }
     #title{
        font-family: 'Mali', cursive;
        font-weight: 700;
        font-style: italic;
        font-size: 30px;
        color: #f5f6f7;
    }

    #home_text{
        text-align: center;
        font-family: 'Mali', cursive;
        color:#f5f6f7;
        font-size: 15px;
        font-weight: 700;
    }

}